<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" login">
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">登录</a></h1>
        </div>
    </div>
<!-- Content -->
<div id="content" class="colM">
<div id="content-main">
    <form method="post" id="login-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in uf %}
            <div class="form-row">
                {{ field.label }}{{ field }}
            </div>
        {% endfor %}
        <div class="submit-row">
            <input type="submit" value="登录"/>&nbsp;<input type="button" value="注册"/>
        </div>
    </form>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
